/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */
.jumbotron h1{
    color: purple;
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */
nav * {
    color: magenta;
}

/* ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */
.jumbotron a{
    color: yellow;
}

.jumbotron a:hover{
    color: red;
}

/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */
.blog-post:first-of-type{
    background-color: green
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */
.blog-post hr:first-of-type {
    border-color: red;
}

/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */
.nav span:nth-of-type(even){
    color: aquamarine;
}

/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */
.list-unstyled.mb-0 *{
    color: orangered;
}

/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */
.blog-post:nth-of-type(2) .blog-post-meta a{
    color: peru;
}

/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */
.blog-post:nth-of-type(3) ul li:nth-of-type(2){
    color: brown;
}

/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */
body>a:last-of-type{
    color: firebrick;
}

/* .float-right.mb-3.mr-3 {
    color: firebrick;
} */

/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */
.blog-pagination a:last-of-type{
    background-color: black;
    color: yellow;
}

/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */
footer a:last-of-type{
    color: chocolate;
}